.container{
    margin: 0 180px;
}

.title{
    margin-top: 50px;
    font-size:20 ;
    font-weight: 700;
}

.subtitle{
    width: 200px;
    text-align: left;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 0px;
}

.text{
    width: 750px;
    margin-bottom: 0;
    margin-top: 2px;
}

.section{
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}

.help{
    margin-top: 60px;
    font-size: 16px;
    font-weight: 400;
}	

.btn{
    width: 290px;
    height: 80px;
    background-color: #94426E;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    color:#fff;
    cursor: pointer;
    margin-top: 40px;
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center
}